.starters{
	border: 0px solid black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
.starters_products{
	border: 0px solid red;
	width: 300px;
	height: 260px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
	transition: transform 1s;
}
.starters_products:hover
{
	transform: scale(1.05);
}
.starters_products img
{
	width: 100%;
	height: 65%;
}
.checked
{
	color: orange;
}
.starr{
	border: 0px solid black;
	justify-content: center;
	height: 25px;
	display: flex;
	align-items: center;
}
.title p
{
	text-align: center;
	font-size: 17px;
}
.title b
{
	color: green;
}
.btn
{
	border: 0px solid orange;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn input
{
	height: 35px;
	width: 190px;
	border-radius: 10px;
	border: 0px;
	background-color: orange;
	font-size: 18px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
}
.btn input:hover
{
	background-color: green;
	color: white;
}